/* .col-md-9 {
  background-image: url('/assets/background-blur-clean-clear-531880.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
